.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.dark-02{
    color: #474747;
}
.button-style{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 27px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}

/* nav style */
nav{
    display: flex;
    margin: 0px 230px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.nav-title span{
    color: #FD6E0A;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* header */
.header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* banner content */
.banner-content h4{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-content h1{
    font-size: 70px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-description {
    text-align: justify;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}
.banner-profile-pic{
    width: 700px;
}
.banner-content{
    max-width: 585px;
}
/* main styles */
main{
    max-width: 71.25rem;
    margin: 0 auto;
}

/* about */
.about{
    border-radius: 10px;
    padding:130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    opacity: 0.7;
}
.item-description{
    font-weight: 600;
}

.main-skill{
    width: 56.81rem;
    text-align: center;
    margin:auto;
    margin-top: 130px;
}

/* skill container */
.skill-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.skill{
    width: 14.68rem;
    height: 23.56rem;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 6%);
}

/* resume section */
.resume-column{
    width: 50%;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description, .experience-subtitle{
    color: #757575;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}

.download-btn{
    text-align: center;
    margin-top: 3rem;
}


.resume{
    margin-top: 50px;
}
.resume-column-title{
    font-size: 2rem;
}
.experience-title{
    font-size: 1.2rem;
}
.button-style a{
    text-decoration: none;
    color: white;
}

/* footer */
.secondary-bg{
    background-color: #FFF8F3;
}

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    margin-top: 3rem;
}

.footer-clumn{
    width: 50%;
}

footer input[type="text"],[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

